<% stylesheet_link_tag "stylesheets/seasons.css" %>

<div class="season-header body-border">
	<div class="ssn">
		<% if @prev_season %>
			<%= link_to image_tag('site/chev-left.png'), url_for({ :action => :index, :id => @prev_season.id }) %>
		<% end %>
	</div>
	<div class="season-title"><%= "#{@season.school.name} - #{@season.sport.to_string} - #{@season.year}" %></div>
	<div class="ssn">
		<% if @next_season %>
			<%= link_to image_tag('site/chev-right.png'), url_for({ :action => :index, :id => @next_season.id }) %>
		<% end %>
	</div>
</div>
<div class="season-subheader"></div>
<% @schedule_events.each do |s| %>
	<div id="<%= if s == @show_game then "show" else "" end %>" class="season-event-cell body-border">
		<div class="score-board">
			<div class="team-box">
				<div class="team-pic">
					<div class="img-box">
						<% if s.away_season_id != 0 %>
							<%= link_to image_tag(asset_path s.away_season.school.picture), { :controller => :seasons, :action => :index, :id => s.away_season_id } %>
						<% else %>
							<img src="<%= asset_path "guest.png" %>"/>
						<% end %>
					</div>
				</div>
				<div class="away-display team-info" data-display="<%= @away_display_data[s.id] %>">
					<% if s.away_season_id != 0 %>
						<%= s.away_season.school.name %>
					<% else %>
						<%= s.guest_name %>
					<% end %>
				</div>
				<div class="team-score"><%= if s.status == 0 then "-" else s.away_score end %></div>
				<div class="winner">
					<% if @away_winners[s.id] %>
						<img src="<%= asset_path "site/winner.png" %>"/>
					<% end %>
				</div>
			</div>

			<div class="box-border"></div>

			<div class="team-box">
				<div class="team-pic">
					<div class="img-box">
						<% if s.home_season_id != 0 %>
							<%= link_to image_tag(asset_path s.home_season.school.picture), { :controller => :seasons, :action => :index, :id => s.home_season_id } %>
						<% else %>
							<img src="<%= asset_path "guest.png" %>"/>
						<% end %>
					</div>
				</div>
				<div class="home-display team-info" data-display="<%= @home_display_data[s.id] %>">
					<% if s.home_season_id != 0 %>
						<%= s.home_season.school.name %>
					<% else %>
						<%= s.guest_name %>
					<% end %>
				</div>
				<div class="team-score"><%= if s.status == 0 then "-" else s.home_score end %></div>
				<div class="winner">
					<% if @home_winners[s.id] %>
						<img src="<%= asset_path "site/winner.png" %>"/>
					<% end %>
				</div>
			</div>
		</div>
		<div class="ribbon-box">
			<% location = s.home_season_id != 0 ? s.home_season.school.location : "Unknown" %>
			<div class="location-time"><%= "#{s.date.strftime("%B %e, %G - %l:%M %p")} - #{location}" %></div>
			<div class="period-display"><%= link_to @period_displays[s.id], :controller => :events, :action => :index, :id => s.id, :season_id => @season.id %></div>
		</div>
	</div>
	<div class="season-spacer"></div>
<% end %>

<% if logged_in? && (current_user.role == 0 || current_user.school_id == @season.school_id) %>
	<div class="bottom-container body-border">
		<div class="create-model">
			<h3>Create Schedule Entry</h3>
			<div class="form-box">
				<%= form_for(:event, :url => {:controller => :events, :action => :create, :season_id => @season.id, :school_id => @season.school_id} ) do |e| %>
					<%= e.label :opponent %>
					<%= e.collection_select :opp_season_id, @possible_opponents, :id, :school_name, { :prompt => true }, { :class => 'form-select' } %> 

					<%= e.label :guest_name, "Or Enter Manually", class: "guest-name" %>
					<%= e.text_field :guest_name %><br/>

					<%= e.label :home %>
					<%= e.check_box :home, { :checked => true, :style => 'margin-bottom: 10px;' } %> <br/>

					<%= e.label :date %>
					<%= e.datetime_select :date, { }, { :class => 'form-select' } %>

					<%= e.submit "Create", :class => 'create-button', :style => 'bottom: 2px;' %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>