<h2>Sports</h2>
<ul>
	<% @sports.each do |s| %>
		<li><%= link_to s.to_string, :action => :index, :id => s.id %></li>
	<% end %>
</ul>

<% if logged_in? && current_user.role == 0 %>
	<div class="create-model">
		<h3>Create Sport</h3>
		<div class="form-box">
			<%= form_for(:sport, url: create_sport_path) do |s| %>
				<%= s.label :name %>
				<%= s.text_field :name %> <br/>
				<%= s.label :male %>
				<%= s.check_box :male, :checked => true %>
				<%= s.submit "Create", :class => 'create-button' %>
			<% end %>
		</div>
	</div>
<% end %>